.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
  width: 500px;
}

.search-icon {
  position: absolute;
  left: 10px;
  font-size: 20px;
  color: #888;
}

.search-input {
  width: 100%;
  padding: 8px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: #333;
}
