body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

.app-container {
  display: grid;
  grid-template-rows: auto 1fr; /* Header and main content area */
  min-height: 100vh;
  margin: 0 20px; /* Add margin to the left and right sides */
}

.header {
  background-color: #333;
  color: #fff;
  padding: 15px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Home page  */

.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content horizontally */
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

.search-icon {
  font-size: 20px;
  color: #888;
  margin-left: 10px;
}

.search-input {
  flex: 1;
  padding: 8px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: #333;
}

.logo-container {
  margin-bottom: 20px;
  text-align: left;
}

.logo {
  font-size: 24px;
  color: #333;
}

.navbar {
  background-color: #000;
  border-radius: 5px;
  width: 100%;
  /* max-width: 500px; */
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
}

.cover-image {
  max-width: 100%;
  margin: 20px;
  position: relative;
}

.cover-image img {
  width: 100%;
  border-radius: 5px;
}

.buy-now-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buy-now-button button {
  padding: 10px 20px;
  background-color: #ff9800;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
